<?xml version="1.0" encoding="UTF-8"?>
<!-- IIS config for the static build. Drop the contents of app/dist into an IIS site. -->
<configuration>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".json" /><mimeMap fileExtension=".json" mimeType="application/json" />
      <remove fileExtension=".svg" /><mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <remove fileExtension=".woff2" /><mimeMap fileExtension=".woff2" mimeType="font/woff2" />
      <clientCache cacheControlMode="DisableCache" />
    </staticContent>
    <httpCompression />
  </system.webServer>
</configuration>
